@{
    ViewData["Title"] = "Home Page";
}

@model BoardViewModel

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="container">
    <div class="row">
        <div id="menu" class="col-3"><!--LHS of UI-->
            <div id="buttons">
                <div class="menu-button"><a href="/Home/NewGame">New Game</a></div>
                <div class="menu-button"><a href="/Home/FindSet">Find Set</a></div>
                <div class="menu-button"><a href="/Home/OpenThreeCards">Open 3 More Cards</a></div>
            </div>
            <div id="settings"></div>
            <div id="stats"></div>
        </div>
        <div id="cards" class="col-9 board"><!--RHS of UI-->
            @for (int row = 0; row < Model.Cards.Count()/3; row++) //change this so width can be dynamic
            {
                <div class="row">
                    @for (int column = 0; column < 3; column++)
                    {
                        <div class="col-4">
                            <div class="board__card" id="@(Model.Cards[column*4 + row].Attributes["CardValue"])">
                                @for (int i = 0; i < int.Parse(Model.Cards[column*4 + row].Attributes["Count"]); i++)
                                {
                                    <div><img src="Images/@(Model.Cards[column*4 + row].Image)" /></div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var selectedCount = 0;

        $(".board__card").on('click', function(evt) {
            if (evt.currentTarget.classList.contains("board__card--selected")) {
                evt.currentTarget.classList.remove("board__card--selected");
                selectedCount--;
            } else {
                evt.currentTarget.classList.add("board__card--selected");
                selectedCount++;
            }

            if (selectedCount >= 3) { //change to set size
                //do the submit
            }
        });
    });
</script>