.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Stuff from move begins here*/
.menu-button {
    display: block;
    border: solid;
    border-color: blue;
    width: 70%;
    border-radius: 8px;
    margin-bottom: 5px;
}

.board {
    border: solid;
    border-color: black;
    border-radius: 10px;
}

.board__card {
    border: solid;
    border-color: gray;
    border-radius: 4px;
    margin-bottom: 5px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board__card--selected {
    background-color: yellow;
}

.board__card--highlighted{
    background-color: lime;
}

.game {
    padding: 5px 20px 5px 5px;
}